@model IEnumerable<Users_WebApp.Models.DomainModels.PostOrderDomainModel>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Customer ID
            </th>
            <th>
                Product ID
            </th>
            <th>
                ProductName
            </th>
            <th>
                Product Description
            </th>
            <th>
                Order Date
            </th>
            <th>
                Product Quantity
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
</table>

